Diagnostics:
  ClangTidy:
    Add: 
      - bugprone*
      - cert*
      - clang-analyzer*
      - concurrency*
      - misc*
      - modernize*
      - readability*
    Remove:
      - misc-no-recursion
  UnusedIncludes: Strict
